{
  "extends": [
      "airbnb",
      "prettier",
      "prettier/react",
      "plugin:promise/recommended",
      "plugin:react/recommended"
  ],
  "plugins": [
      "prettier",
      "promise",
      "react"
  ],
  "rules": {
      "prettier/prettier": [
          "error",
          {
              "singleQuote": true
          }
      ],
      "import/no-extraneous-dependencies": [
          "error",
          {
              "devDependencies": true
          }
      ],
      "import/prefer-default-export": "off",
      // "import/no-default-export": "error",
      "react/jsx-filename-extension": [
          1,
          {
              "extensions": [
                  ".js"
              ]
          }
      ],
      "react/no-did-mount-set-state": "warn",
      "promise/always-return": "off",
      "promise/no-return-wrap": "error",
      "promise/param-names": "error",
      "promise/catch-or-return": "error",
      "promise/no-native": "off",
      "promise/no-nesting": "warn",
      "promise/no-promise-in-callback": "warn",
      "promise/no-callback-in-promise": "warn",
      "promise/avoid-new": "warn",
      "promise/no-new-statics": "error",
      "promise/no-return-in-finally": "warn",
      "promise/valid-params": "warn",
      "no-use-before-define": [
          "error",
          "nofunc"
      ],
      "no-unused-vars": [
          "error",
          {
              "ignoreRestSiblings": true,
              "argsIgnorePattern": "^_",
              "varsIgnorePattern": "^_"
          }
      ],
      "react/sort-comp": [
          "warn",
          {
              "order": [
                  "propTypes",
                  "defaultProps",
                  "static-methods",
                  "state",
                  "instance-variables",
                  "lifecycle",
                  "everything-else",
                  "/^on.+$/",
                  "/^handle.+$/",
                  "/^render.+$/",
                  "render"
              ]
          }
      ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true,
          "legacyDecotators": true
      },
      "ecmaVersion": 8,
      "sourceType": "module"
  },
  "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "es6": true
  },
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}